.calculations-main {

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;

    .form-main {
        text-align: center;

        .list-parent {
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            justify-content: space-around;
            align-items: center;
            align-content: stretch;
            
            .list {

                display: flex;
                align-content: center;

                .display-column {
                    display: flex;
                    flex-direction: row;

                }
            }

        }

        .inputs {
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: space-evenly;
            align-items: center;
            align-content: center;

            .purchase-price-inputs {
                align-self: stretch;
                order: 0;
                flex: 0 0 0px;
                flex-grow: 0;
                flex-shrink: 0;
                flex-basis: 90px;
            }

            .middle-inputs {
                align-self: stretch;
                order: 0;
                flex: 0 0 0px;
                flex-grow: 0;
                flex-shrink: 0;
                flex-basis: 90px;
            }

            .right-inputs {
                align-self: stretch;
                order: 0;
                flex: 0 0 0px;
                flex-grow: 0;
                flex-shrink: 0;
                flex-basis: 90px;
            }
        }
    }

    button {

    }
}