.calculations-main {

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: stretch;

    .form-main {
        text-align: center;
    }

    button {

    }
}