<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
    <br>

    <div class="dash-buttons" *ngIf="router.url === '/'" >

        <button mat-raised-button color="primary" routerLink="/calculations">Go to Calculations</button>

        <button mat-raised-button color="warn" (click)="openDialog()">Help</button>

    </div>

  </h1>

    <div *ngIf="router.url === '/'">
      <ol>

      </ol>
    </div>

</div>

<router-outlet></router-outlet>